body{background:#222;}
.main-container{position:fixed;top:60px;left:50%;bottom:100px;width:100%;max-width:760px;min-height:450px;padding:50px;background:#fafafa;color:#666;font-size:14px;line-height:20px;transform:translateX(-50%);
  h2{display:block;margin:0 0 15px;color:#333;font-size:18px;font-weight:600;line-height:20px;}
}